%h2 Orientações - #{@orientations.count} registro(s)

#action-new= link_to "Nova orientação", new_admin_orientation_path, :class => "button"

- unless @orientations.blank?
  %table
    %thead
      %tr
        %th.first #{t("activerecord.attributes.orientation.title")}
        - if current_admin.superuser == true
          %th #{t("activerecord.attributes.orientation.admin.name")}
        %th #{t("activerecord.attributes.orientation.created_at")}
        %th.last
    %tbody
      - @orientations.each do |orientation|
        %tr{ :class => cycle("odd", "even") }
          %td= orientation.title
          - if current_admin.superuser == true
            %td= orientation.admin.name
          %td= l orientation.created_at, :format => :short
          %td.actions
            = link_to "Exibir", admin_orientation_path(orientation), :title => "Exibir #{orientation.title}"
            = link_to "Editar", edit_admin_orientation_path(orientation), :title => "Editar #{orientation.title}"
            = link_to "Excluir", [:admin, orientation], :confirm => "Tem certeza?", :method => :delete, :title => "Excluir #{orientation.title}"
