%h2 Exibir Orientação

.container
  - if current_admin.superuser?
    %p
      %strong #{t("activerecord.attributes.orientation.admin.name")}:
      = @orientation.admin.name
  %p
    %strong #{t("activerecord.attributes.orientation.title")}:
    = @orientation.title
  %p
    %strong #{t("activerecord.attributes.orientation.description")}:
    = @orientation.title

  #{link_to "Voltar", admin_orientations_path}
