.section
  %h3 Inscrições
  %br.clearfix

  %p
    Para participar da Bicicletada Nacional Rumo à RIO+20 é necessário se inscrever utilizando o formulário abaixo. A inscrição é livre de custos e servirá apenas para controle logístico dos participantes.
    %strong Leia o termo de compromisso atentamente,
    pois ao se inscrever você estará de acordo com ele. Solicitamos que haja comprometimento no ato da inscrição, só efetuando a mesma se tiver certeza da participação.

  %p
    Os que se disporem bravamente a percorrer as rotas mais longas poderão ficar na estrada por mais de 20 dias. Por isso disponibilizamos um modelo de pedido de licença (link), a ser livremente reproduzido e adaptado conforme convir.

  %p
    %strong Ao participar da Bicicletada Nacional Rumo à RIO+20, o ciclista assume que está o fazendo por livre e espontânea vontade e assumindo todos os riscos, ficando responsável por sua própria integridade física e guarda de seus objetos e pertences.

  %p
    %strong Apesar de serem tomadas providências para minimizar os riscos, acidentes podem acontecer e cabe a cada um a decisão de continuar ou não de acordo com suas limitações.
  
  %p
    %strong O atendimento médico será providenciado, mas a cobertura de gastos não, ficando cada participante responsável pelo seu próprio seguro médico ou pagamento.

  %br
  %br

  = link_to "English", params.merge(:locale => "en"), :class => "list-links"
  = link_to "Português", params.merge(:locale => "pt-BR"), :class => "list-links"

  %br

  - flash.each do |name, message|
    = content_tag :div, message, :class => "message #{name}"
 
  = simple_form_for @user, :html => {:novalidate => true, :id => "subscription"} do |f|
    %h3 Formulário para Inscrição
    %br.clearfix
    = f.input :email, :input_html => {:class => "required"}
    = f.input :password, :input_html => {:class => "required"}
    = f.input :password_confirmation, :input_html => {:class => "required"}

    = f.fields_for :subscription do |p|
      = p.input :name, :input_html => {:class => "required"}
      - if params[:locale] == ""
        = p.input :passport, :input_html => {:class => "required"}
      = p.input :birth_day, :start_year => 1940, :include_blank => true, :input_html => {:class => "required", :alt => "date"}, :as => :string
      = p.input :birth_place, :input_html => {:class => "required"}
      = p.input :address, :input_html => {:class => "required"}
      = p.input :district, :input_html => {:class => "required"}
      = p.input :city, :input_html => {:class => "required"}
      = p.input :state, :input_html => {:class => "required"}
      = p.input :contact_phone, :input_html => {:class => "required", :alt => "phone"}, :as => :string
      = p.input :blood_type, :input_html => {:class => "required"}
      = p.input :allergy, :input_html => {:class => "required"}
      %h4 Em caso de emergência, avisar:
      %br.clearfix
      = p.input :emergency_name, :input_html => {:class => "required"}
      = p.input :emergency_address, :input_html => {:class => "required"}
      = p.input :emergency_contact_phone, :input_html => {:class => "required", :alt => "phone"}, :as => :string

      %h4 Termo de Compromisso
      %br.clearfix
      .terms
        %p
          O participante que tiver qualquer restrição em relação a saúde (alergias, epilepsia, asma, diabetes, etc...) deve informar na inscrição e trazer consigo seus medicamentos, com descrição de dosagem a ser aplicada caso ocorra qualquer anormalidade no seu estado de saúde durante o passeio.
        %p
          O participante que tiver qualquer restrição alimentar (vegetarianos, vegans, celíacos, intolerância à lactose, alergias a alimentos) deve informar na inscrição.
        %p
          O participante deve obrigatoriamente conhecer o Código de Trânsito Brasileiro - CTB - e suas regras. É exigido o comprometimento a respeitá-lo durante todo o percurso, seguindo todas as orientações dos agentes legais.
        %p
          %strong A organização recomenda fazer o uso de capacete durante todo o percurso. Apesar de um item não obrigatório pelo CTB, torna-se quase indispensável para a tranquilidade na estrada. Além de ser um bom chapéu.
        %p
          Recomenda-se também o uso de luvas e óculos conforme convir, bem como o uso de bermudas específicas para o ciclismo e demais vestimentas e equipamentos adequados à variação climática a ser enfrentada. Em nosso blog temos uma boa troca de experiência de ciclistas de todo país quanto a equipamentos e dicas gerais de cicloviagens, confira.

      = p.input :accept, :label => "Li o termo de compromisso e concordo com todos os itens descritos no mesmo"

    = f.submit "Enviar"

    %br.clearfix
