.section
  %h3 BICICLETADA NACIONAL Rio+20
  %br.clearfix
  %p
    A BICICLETADA NACIONAL Rio+20 é uma grande mobilização de ciclistas de todas as partes do Brasil que formarão bondes e pedalarão até o Rio de Janeiro para fazer parte da RIO+20 e promover a divulgação deste meio de transporte diretamente ligado ao tema.
  %p
    A RIO+20 é a Conferência das Nações Unidas sobre Desenvolvimento Sustentável, que irá ocorrer no Brasil de 20 a 22 de junho de 2012 marcando o 20º aniversário da ECO92 e o 10º aniversário da WSSD. Com a presença de Chefes de Estado e de Governo ou outros representantes a expectativa é de uma Conferência do mais alto nível, sendo que dela resultará a produção de um documento político focado nas diretrizes do desenvolvimento mundial a ser seguido daqui em diante.
  %p
    O objetivo da Conferência e da Bicicletada Nacional é assegurar um comprometimento político renovado para o desenvolvimento sustentável em escala planetária , avaliar os progressos e as lacunas deixadas desde as últimas conferências, e abordar os novos desafios emergentes.
  %p
    A Bicicletada Nacional Rio+20 apresenta-se como forma de proporcionar uma imensa visibilidade ao tema: o uso da bicicleta está intimamente relacionado com todo um urgente e necessário planejamento e funcionamento das grandes cidades, e a bicicleta tem cada vez mais se mostrado uma excelente solução para os problemas enfrentados, especialmente aliada e integrada a outos modais de transporte eficientes. Espera-se, dessa forma, pressionar autoridades do mundo inteiro a abordarem essa questão de forma séria e contundente.
  %p
    Para saber como participar, apoiar e/ou se informar sobre a jornada, acesse e explore o conteúdo deste site.
  %p
    %strong Boa pedalada para todos, por um futuro mais agradável de imaginar!

  =link_to "Saiba mais", "bicicletada_nacional_rio_20"
  %br.clearfix
