%h2 Responsáveis - #{@responsibles.count} registro(s)

#action-new= link_to "Novo responsável", new_admin_responsible_path, :class => "button"

- unless @responsibles.blank?
  %table
    %thead
      %tr
        %th.first #{t("activerecord.attributes.responsible.name")}
        %th #{t("activerecord.attributes.responsible.state")}
        %th #{t("activerecord.attributes.responsible.created_at")}
        %th.last
    %tbody
      - @responsibles.each do |responsible|
        %tr{ :class => cycle("odd", "even") }
          %td= responsible.name
          %td= responsible.state
          %td= l responsible.created_at, :format => :short
          %td.actions
            = link_to "Editar", edit_admin_responsible_path(responsible), :title => "Editar #{responsible.name}"
            = link_to "Excluir", [:admin, responsible], :confirm => "Tem certeza?", :method => :delete, :title => "Excluir #{responsible.name}"
