.container
  = simple_form_for [:admin, @admin], :html => { :novalidate => true } do |f|
    = f.input :name
    = f.input :state, :as => :select, :collection => ["AC", "AL", "AP", "AM", "BA", "CE", "DF", "ES", "GO", "MA", "MT", "MS", "MG", "PA", "PB", "PR", "PE", "PI", "RJ", "RN", "RS", "RO", "RR", "SC", "SP", "SE", "TO"]
    = f.input :email
    = f.input :password
    = f.input :password_confirmation
    - if @admin.superuser?
      = f.input :superuser
    = f.button :submit, "Enviar"
    ou #{link_to "Cancelar", admin_admins_path}
