%h2 Usuários - #{@admins.count} registro(s)

#action-new= link_to "Novo Usuário", new_admin_admin_path, :class => "button"

- unless @admins.blank?
  %table
    %thead
      %tr
        %th.first #{t("activerecord.attributes.admin.name")}
        %th #{t("activerecord.attributes.admin.email")}
        %th #{t("activerecord.attributes.admin.state")}
        %th #{t("activerecord.attributes.admin.superuser")}
        %th.last
    %body
      - @admins.each do |admin|
        %tr{ :class => cycle("odd", "even") }
          %td= admin.name
          %td= admin.email
          %td= admin.state
          %td= admin.superuser
          %td.actions
            = link_to "Editar", edit_admin_admin_path(admin), :title => "Editar #{admin.email}" unless current_admin == admin
            = link_to "Excluir", [:admin, admin], :confirm => "Tem certeza?", :method => :delete, :title => "Excluir #{admin.email}" unless current_admin == admin

