.session
  = image_tag "/images/vivacar.png"
  %h2 Administração
  .container
    = simple_form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :novalidate => true } do |f|
      = f.input :email
      = f.input :password
      = f.input :remember_me, :as => :boolean if devise_mapping.rememberable?
      = f.button :submit, "Entrar"
      ou #{link_to "Voltar", root_path}
