- @orientations.each do |orientation|
  %div{ :id => orientation.title.parameterize("_") }
    %h1.sub= link_to orientation.title, :anchor => orientation.title.parameterize("_")
    %h5= "por #{orientation.admin.name} em #{l orientation.created_at}"
    %p.sub= orientation.description
  %br
