.section
  %h3 PROJETO - BICICLETADA NACIONAL RIO+20
  %br.clearfix

  %p
    %strong 1.	Introdução
    %br
    O evento da BICICLETADA NACIONAL RIO+20 pretende  ser o  maior  evento que reunirá  ciclistas  provenientes de todo o Território Brasileiro. A Conferência das Nações Unidas Sobre Desenvolvimento Sustentável (UNCSD), também chamada de Rio+20, acontecerá no Rio de Janeiro, entre os dias 20 a 22 de Junho de 2012.
    %br
    %br
    A BICICLETADA NACIONAL RIO+20 representa todos os brasileiros que acreditam na humanização das cidades, mobilidade urbana sustentável e na bicicleta como transporte modelo, que acreditam na transformação positiva das cidades a partir do uso da bicicleta , de forma prática, segura e integrada, respeitando o Código de Trânsito Brasileiro e sugerindo alterações   que incorporem  os direitos garantidos em  Lei.
    %br
    %br
    A Organização das Nações Unidas (ONU) propõe que o período de 2011 a 2020 seja a Década de Ação pela Segurança no Trânsito, Resolução ONU nº 2 / 2009 – neste contexto o evento pretende chamar a atenção de toda a sociedade para a necessidade de políticas públicas que efetivamente funcionem, possibilitando o uso seguro e confortável das vias, independentemente da forma de deslocamento escolhida.
    %br
    %br
    A iniciativa pacífica e contestadora demonstra que modos de transporte suaves, verdes e saudáveis, além de possíveis, são absolutamente necessários mesmo em países de extensões continentais como no caso do território brasileiro. Assim, é necessário uma mudança no  desenho urbano, privilegiando as soluções sustentáveis e limpas, livres de fontes poluentes e a melhoria na qualidade dos deslocamentos.
  
  %p
    %strong 2. Objetivos
    %br
    %br
    %strong 2.1 Geral
    %br
    Unir grupos de ciclistas provenientes de todos os estados em um ponto de encontro único, formando a Massa Ciclística Brasileira, na Conferência Mundial da ONU sobre Desenvolvimento Sustentável, a RIO+20, onde apresentaremos uma carta/documento contendo diretrizes e sugestões para que todas as instancias dos governos tenham mais atenção e trate esse assunto com maior seriedade.
    %br
    %br
    %strong 2.2 Específicos
    %br
    &bullet;Estimular o encontro de grupos de pessoas que partirão de diversos pontos do território nacional, com destino à Rio+20;
    %br
    &bullet;Promover uma mudança cultural onde a prioridade é do ser humano e não do veículo;
    %br
    &bullet;Exigir o cumprimento das leis do Código de Trânsito Brasileiro (CTB);
    %br
    &bullet;Sensibilizar sobre a importância do respeito e acessibilidade aos ciclistas e demais atores do trânsito não motorizados;
    %br
    &bullet;Exigir a urbanização das cidades voltada às necessidades das pessoas independente do meio de locomoção;
    %br
    &bullet;Utilizar a bicicleta como principal meio de transporte para o deslocamento até a RIO+20;
    %br
    &bullet;Divulgar o evento Rio+20 durante a jornada até o Rio de Janeiro pelos diversos grupos e promover a educação ambiental local;
    %br
    &bullet;Promover atividades/ações para mitigação da pegada ecológica produzida pela comunidade visitada e pelos participantes do projeto;
    %br
    &bullet;Promover o conceito de economia solidária local nas cidades que acolherão os participantes.
    %br
    %br
    %strong 3. Justificativa
    %br
    Considerando a aproximação da Conferência Rio+20, cujo tema central é o desenvolvimento sustentável e o meio ambiente, e que o Brasil tem firmado seu   posicionamento favorável aos acordos para a redução das emissões de gases poluentes das mudanças climáticas, o projeto BICICLETADA NACIONAL RIO+20 estimulará a formação de grupos de ciclistas locais que, partindo de seus Estados e do Distrito Federal, seguirão para a RIO+20, demonstrando que a bicicleta é um transporte modal  suave, possível, limpo e necessário.
    %br
    %br
    Utilizando a bicicleta como meio de transporte – e outros veículos movidos a propulsão humana e/ou com fontes limpas de energia - contribuiremos para a divulgação dos meios de transporte sustentáveis,  diminuindo simbolicamente a emissão de gases poluentes das mudanças climáticas.
    %br
    %br
    %strong Bicicletada e Pegada Ecológica
    %br
    %br
    O projeto promoverá o plantio de árvores nativas, de acordo com o bioma local e sob orientação do órgão ambiental ou instituição de ensino, pesquisa e  extensão ao longo do percurso, bem como outras atividades/ações, como forma de mitigação da pegada produzida tanto pelos veículos de apoio que serão utilizado para garantir a segurança dos participantes, como pelo regresso do grupos às suas cidades de origem.
    %br
    %br
    %strong 4. Mobilidade por bicicleta no Brasil
    %br
    A solução que o Brasil precisa para enfrentar os desafios da Mobilidade passa pelo uso da bicicleta como meio de transporte, a qual se populariza mais e mais a cada dia ao redor do planeta. Ela deixa de ser vista como um simples objeto de lazer e esporte e passa a compor a paisagem da cidade e o dia a dia das pessoas como um veículo prático, eficiente e sustentável.
    %br
    %br
    %strong 4.1 Iniciativas do Governo Federal
    %br
    Em 22 de setembro de 2004, ocasião do Dia Mundial sem Carro, o Governo Federal lançou o Programa Bicicleta Brasil a ser desenvolvido no âmbito do Ministério das Cidades. Desde então foram realizadas atividades de fomento aos municípios para implementação de sistemas cicloviários integrados aos demais modais de transportes e às cidades. Apesar da existência do Programa, não é possível mensurar objetivamente as conquistas em escala nacional provenientes de sua implementação, ciclistas continuam morrendo no trânsito e o aporte de apoio do Ministério das Cidades é pouquíssimo significativo. No quesito mobilidade urbana, neste momento, o Governo Federal empenha todos os seus investimentos em transportes de grande capacidade visando prover as cidades com melhorias para os grandes eventos que se avizinham, Copas das Confederações (2013), Copa do Mundo (2014) e Olimpíadas (2016). Infelizmente o passivo de transportes estruturantes com qualidade é muito grande e, aparentemente, os governantes não enxergam na mobilidade por bicicleta uma proposta plausível.
    %br
    %br
    O Governo Federal demonstra algum interesse e começa a desenvolver o Programa Caminho da Escola – Transporte Escolar por Bicicletas que tem como objetivo disponibilizar bicicletas para os jovens frequentarem as aulas com segurança, conforto e saúde, contribuindo para a redução da evasão escolar, entre outros. No lançamento desse Programa a Presidente Dilma Roussef deixou claro que espera que os municípios banquem a implementação de sistemas cicloviários em suas cidades. Do Governo Federal, nada de apoio por enquanto.
    %br
    %br
    Recentemente, em janeiro de 2012, a Presidente, através do Ministério das Cidades, sancionou a Política Nacional de Mobilidade Urbana Sustentável. Esta Política, que já nasce velha, é fruto de debates anteriores a 2004 e, como afirma o Secretário Nacional de Transporte e da Mobilidade Urbana à época, José Carlos Xavier, este conjunto de princípios e diretrizes, que fornece direcionamento ao Governo Federal, é "de suma importância para o desenvolvimento das cidades”.  A Política garante, segundo ele, a prioridade aos transportes coletivos e aos não motorizados, evidenciando a importância do investimento de recursos públicos em soluções sustentáveis para a Mobilidade, entre elas a Bicicleta.
    %br
    %br
    %strong 4.3 Iniciativa dos Governos Estaduais e Municípios 
    %br
    Rio de Janeiro
    %br
    A Prefeitura da cidade do Rio de Janeiro, acompanhando essa tendência mundial, lançou o Programa Rio Capital da Bicicleta e tem realizado investimentos, ao longo dos últimos anos, para promover a bicicleta como meio de transporte. Hoje possui 235 km de malha cicloviária. Em Setembro de 2011, realizou o 1°Bicirio – Fórum Internacional de Mobilidade por Bicicleta – evento com duração de três dias e intensa troca de experiências entre gestores públicos, acadêmicos e sociedade civil. Em agosto de 2011, reativou o sistema de bicicletas públicas SAMBA - Solução Alternativa para a Mobilidade por Bicicletas de Aluguel - sinalizando o interesse em promover a bicicleta como meio de transporte seguro, confortável e ecológico, reduzindo custos ao mesmo tempo que promove a saúde coletiva.
    %br
    %br
    Distrito Federal
    %br
    No Distrito Federal, o Governo anunciou em novembro de 2011, a liberação de R$ 122 Milhões para o sistema cicloviário da região. Em janeiro de 2012, foi publicado no Diário Oficial do Distrito Federal, o início imediato da construção de 270 km de ciclovias em 14 cidades do DF. Atualmente a Política de Mobilidade por Bicicletas no DF é gerida por um Comitê composto por 12 autarquias do governo e 6 entidades da sociedade civil.
    %br
    %br
    São Paulo e Minas Gerais
    %br
    Outras cidades como São Paulo e Belo Horizonte começam a tirar alguns projetos do papel e já investem em sistemas cicloviários como opção de transporte diário, principalmente para distâncias curtas.
    %br
    %br
    Há ainda experiências iniciais, como Cuiabá e Curitiba, onde a sociedade civil por meio da internet lançou Projetos de Lei de Iniciativa Popular para tornar a bicicleta um instrumento da mobilidade urbana, reconhecida perante a lei.
    %br
    %br
    %strong 5. Todos somos o Trânsito!
    %br
    A resposta da população é imediata e se faz evidente pelo aumento no número de ciclistas brasileiros que descobrem nos transportes  sustentáveis, a solução para enfrentar o caos dos engarrafamentos e todos os demais problemas que o trânsito gera.
    %br
    %br
    O conceito de trânsito contido no Código de Trânsito Brasileiro (CBT) afirma  que:
    %br
    1°: Considera-se trânsito a utilização das vias por pessoas, veículos e animais, isolados ou em grupos, conduzidos ou não, para fins de circulação, parada, estacionamento e operação de carga ou descarga.
    %br
    2°: O trânsito, em condições seguras, é um direito de todos e dever dos órgãos e entidades componentes do Sistema Nacional de Trânsito, a estes cabendo, no âmbito das respectivas competências, adotar as medidas destinadas a assegurar esse direito.
    %br
    3°: Os órgãos e entidades componentes do Sistema Nacional de Trânsito respondem, no âmbito das respectivas competências, objetivamente, por danos causados aos cidadãos em virtude de ação, omissão ou erro na execução e manutenção de programas, projetos e serviços que garantam o exercício do direito do trânsito seguro.
    %br
    5°: Os órgãos e entidades de trânsito pertencentes ao Sistema Nacional de Trânsito darão prioridade em suas ações à defesa da vida, nela incluída a preservação da saúde e do meio ambiente.
    %br
    %br
    É evidente que a lei classifica  trânsito como espaço público utilizado por todos, no entanto, este espaço tem privilegiado somente um tipo de transporte: o individual, motorizado e poluente. O resultado é a situação caótica e epidêmica que vivenciamos todos os dias.
    %br
    %br
    %strong 6. É chegada a hora da mudança!
    %br
    A BICICLETADA NACIONAL RIO+20 proporcionará:
    %br
    1. Maior alcance de divulgação do evento RIO+20, tanto pelos contatos interpessoais dos ciclistas durante o caminho, quanto pela repercussão nas mídias locais;
    %br
    2. Promoção junto à população sobre a utilização da bicicleta como veículo modelo, demonstrando assim, que o transporte por propulsão humana é uma das soluções urbanas mais modernas;
    %br
    3. Chamar atenção das autoridades para que invistam em infraestrutura adequada e no cumprimento das leis, promovendo assim o bem-estar comum, seguindo a tendência mundial, de promoção de transportes livres de fontes naturais limitadas e ecologicamente inadequadas.
    %br
    %br
    %strong 7. Público-alvo
    %br
    Como público diretamente afetado, encontram-se todos os ciclistas que participarão da Bicicletada Nacional.
    %br
    %br
    Como público afetado indiretamente encontra-se toda a sociedade, principalmente àquela do entorno do trajeto, que perceberá a difusão do uso da bicicleta, o respeito às leis de trânsito e a divulgação dos conceitos de mobilidade, sustentabilidade e acessibilidade em todo o país.
    %br
    %br
    %strong 8. Massa Crítica
    %br
    Uma breve explicação o significado da palavra “Massa Critica = Bicicletada”
    %br
    %br
    "A Massa Crítica é uma celebração para quebrar a monotonia, mecanicidade e agressividade do trânsito urbano, levando alegria e outros elementos mais humanos – braços, pernas e rostos – no asfalto. A Massa Crítica ou Bicicletada é organizada de forma horizontal, não tem representantes, porta-vozes, nem líderes. Ela não tem uma voz. Ela tem tantas vozes quanto participantes. Cada um é livre para levar a manifestação ou a reivindicação que quiser." (texto extraído do sítio internet http://massacriticapoa.wordpress.com/)
    %br
    %br
    %strong Logística
    %br
    Cada grupo estabelecerá seu trajeto, observando o caminho mais seguro e confortável. Os grupos seguirão até pontos de encontro em comum e seguirão juntos, fazendo com que o pelotão aumente gradativamente conforme se aproxime da Cidade do Rio de Janeiro. Cada grupo também irá estabelecer em quais cidades fará as paradas para alimentação e repouso, além das intervenções como plantio e debates.

  %br.clearfix
