// ** RESET & MIXINS
// =======================================

html * { margin: 0; padding: 0; outline: none; }

@mixin radius($param) {
  border-radius: $param;
  -moz-border-radius: $param;
  -webkit-border-radius: $param;
  -o-border-radius: $param;
}

@mixin radius-left($param) {
  border-top-left-radius: $param; 
  -moz-border-top-left-radius: $param; 
  -webkit-border-top-left-radius: $param; 
  -o-border-top-left-radius: $param; 
}

@mixin radius-right($param) {
  border-top-right-radius: $param; 
  -moz-border-top-right-radius: $param; 
  -webkit-border-top-right-radius: $param; 
  -o-border-top-right-radius: $param; 
}

// ** DEFAULT STYLINGS
// =======================================

body { background: #ccc; color: #222; font: 12px 'Lucida Grande', Tahoma, Arial, sans-serif; text-shadow: 0 1px 0 #fff; }

a {
  color: #124072; text-decoration: none; padding: 2px; text-decoration: underline;
  &:hover, &:focus { color: #185aa1; text-decoration: none; }
  &.button { 
    background: #333; color: #fff; padding: 7px 10px; text-decoration: none; text-shadow: 0 -1px 0 #000; @include radius(4px);
    &:hover { background: #444; }
    &.inactive {
      background: #ddd; border-bottom: 1px solid #aaa; color: #555; text-shadow: 0 1px 0 #fff;
    }
  }
}

img { border: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; margin-bottom: 15px; }

ul { list-style: circle; margin: 0 0 15px 20px; }

p { margin-bottom: 15px; }

hr { margin: 15px 0; }

// FORM 
form {
  fieldset { 
    border: 1px solid #ccc; margin: 15px 0; padding: 10px 15px 10px 15px; @include radius(5px);
    &:hover { border-color: #aaa; }
    legend { font-size: 1.2em; padding: 0 10px; }
  }
  label { 
    &.string, &.email, &.optional, &.datetime, &.text, &.select, &.url {
      color: #555; display: block; padding: 0 0 3px 0; 
      abbr { color: #f00; font-weight: bold; }
    }
    &.collection_radio, &.collection_check_boxes { line-height: 130%; padding: 0 5px; }
  }
  .input { 
    margin: 0 0 5px 0; 
    input { font-size: 1em; padding: 4px 5px; }
    .string, .password { width: 250px; }
    textarea { height: 200px; width: 400px; }
    &.boolean {
      input[type="checkbox"] { margin-right: 5px; }
      label { display: inline; }
    }
  }
  .check_boxes {
    span { display: block; }
  }
  span.hint { color: #888; display: block; }
  span.error { color: #f00; display: block; padding: 3px 0; }
  input[type="submit"] { 
    background: #47ba53; border: 1px solid #3ed553; border-bottom-color: #278735; color: #fff; cursor: pointer; font-size: 1.2em; margin-top: 10px; padding: 5px 10px; text-shadow: 0 -1px 0 #278735; @include radius(4px);
    &:hover { background: #2d9b3c; }
  }
}

// TABLE 
table { 
  border-bottom: 1px solid #ccc; border-collapse: collapse; border-spacing: 0; margin-bottom: 15px; width: 100%; 
  caption { background: #ededed; font-size: 1.1em; margin: 0 42%; padding: 5px 10px; @include radius-left(5px); @include radius-right(5px); }
  thead { 
    th { 
      background: #2677aa; border-bottom: 1px solid #fff; color: #fff; font-size: 1.1em; font-weight: normal; padding: 8px 10px; text-align: left; text-shadow: 0 -1px 0 #124072;
      &.first { @include radius-left(5px); }
      &.last {  @include radius-right(5px); }
      strong { display: block; }
    }
  }
  tbody {
    td { 
      border-bottom: 1px solid #fff; padding: 5px 10px; 
      &.actions { text-align: right; }
      &.block { background: #ccc; }
      strong { display: block; }
    }
    .odd { background: #eee; }
    .even { background: #dedede; }
  }
}

// CLEAR FIX 
.clearfix { clear: both; display: block; }

// ** WRAPPER
// =======================================

#wrapper { width: 960px; margin: auto; }

// NAVIGATION
#nav { 
  background: #333; color: #fff; float: right; margin: 20px 0 5px; text-shadow: 0 -1px 0 #000; width: 100%; @include radius(5px);
  li {  
    float: left; list-style: none; padding: 10px 0;
    a, span { border-left: 1px dotted #999; color: #fff; cursor: pointer; display: block; padding: 5px 15px; text-decoration: none; text-shadow: 0 -1px 0 #000; }
    ul { 
      background: #487692; display: none; margin: 0; min-width: 140px; padding: 5px 0; position: absolute; @include radius(5px);
      li { 
        float: none; padding: 5px;
        &:hover { background: #304e60; }
        a { border: none; padding: 3px 8px; }
      }
    }
    &:hover {
      a, span { color: #6eb3dd; }
      ul { 
        display: block; 
        a { color: #fff; }
      }
    }
    &.home { 
      margin: 0 40px 0 15px; 
      a { border: none; }
    }
    &.account { 
      float: right; margin-right: 15px; 
      a { border: none; }
    }
    &.dashboard {
      a { border: none; }
    }
  }
}

// CONTENT
div#content { 
  clear: both; padding: 10px 0; 
  .message { background: #fff9f1; font-weight: bold; margin-bottom: 15px; padding: 10px; @include radius(5px); }
  .container {
    background: #eee; border: 1px solid #fff; border-top: none; margin-bottom: 15px; padding: 20px; @include radius(5px);
  }
  .session {
    text-align: center;
    .container { width: 270px; margin: auto; text-align: left; }
  }

  #action-new, .action-new { padding: 0 0 15px 0; }

  .nested-items {
    .action-new { float: left; }
    .float { float: left; }
    ul { 
      clear: both; list-style: none; margin: 0; 
      li {
        .actions { 
          a { 
            img { float: left; margin-right: 5px; }
            float: left; padding: 5px 10px;
          }
        }
      }
    }
  }
}
