// ** RESET & MIXINS
// =======================================

html * { margin: 0; padding: 0; outline: none; }

// ** DEFAULT STYLINGS
// =======================================

body { background: #eee; color: #000; font: 14px 'Helvetica', Arial, Verdana; line-height: 150%; }
a {
  color: #666; text-decoration: none;
  &:hover, &:focus { text-decoration: none; }
}

img { border: 0; }

li { list-style: none; }

// BORDER RADIOS
@mixin radius($param) {
 border-radius: $param;
 -moz-border-radius: $param;
 -webkit-border-radius: $param;
 -o-border-radius: $param;
}

// BORDER SHADOW
@mixin shadow($param) {
  box-shadow: $param;
  -webkit-box-shadow: $param;
  -moz-box-shadow: $param;
}

// CLEAR FIX 
.clearfix { clear: both; display: block; }

// HEADER
div#header {
  width: 1000px; height: 200px; margin: 10px auto 0 auto; display: block;
  a.home-brand {
    width: 300px; height: 200px; float: left; text-indent: -9999px; background: url(/assets/logo-bicicletadanacionalrio20.png) top no-repeat;
    &:hover { background: url(/assets/logo-bicicletadanacionalrio20.png) bottom no-repeat; }
  }
  a.sm {
    width: 32px; height: 32px; float: right; text-indent: -9999px; margin: 8px 20px 0 0;
    &.twitter {
      background: url(/assets/ico/twitter.png) top no-repeat;
      &:hover { background: url(/assets/ico/twitter.png) bottom no-repeat; }
    }
    &.facebook {
      background: url(/assets/ico/facebook.png) top no-repeat;
      &:hover { background: url(/assets/ico/facebook.png) bottom no-repeat; }
    }
  }
  ul {
    width: 700px; float: right; clear: right;
    li {
      width: 105px; height: 40px; float: left; margin: 40px 0 0 11px;
      a {
        display: block; width: 110px; height: 30px; padding-top: 10px; background: #fff; color: #000; text-align: center; font-size: 15px;
        &:hover { color: #2cb349; }
      }
    }
  }
}

// CONTENT
div#content {
  width: 1000px; padding: 10px 0; margin: 10px auto;
  h2 { font-weight: normal; font-size: 18px; color: #000; text-transform: uppercase; text-align: center; margin: 7px 0; border-bottom: dotted 2px #ddd; }
  h3 { font-weight: normal; font-size: 14px; color: #333; text-transform: uppercase; text-align: center; margin: 7px 0; border-top: solid 1px #eee; border-bottom: solid 1px #eee; padding-top: 4px; }

  div.banner { width: 980px; height: 180px; padding: 10px; float: left; background: #fff; margin-bottom: 20px; }

  div.states {
    width: 130px; padding: 0 10px 15px 10px; float: left; background: #fff; margin: 0 20px 0 0;
    ul {
      display: block;
      li {
        display: block; width: 130px; height: 30px; padding: 5px 0; border-bottom: dotted 1px #ddd;
        img.flag { float: left; width: 40px; height: 28px; margin-right: 5px; }
        strong { padding-top: 4px; float: left; }
        a {
          display: block; color: #000;
          &:hover { color: #ccc; }
        }
      }
    }
  }

  div.main {
    width: 580px; padding: 0 10px 10px 10px; float: left; background: #fff; margin: 0 20px 0 0;
    h2 { text-align: left; }
    div.section {
      display: block; background: #dff6e4; padding: 5px; margin-top: 10px;
      h3 { float: left; padding: 3px 4px 0 4px; background: #79038b; border: none; line-height: 120%; font-weight: normal; color: #fff; margin-left: -9px; font-size: 18px; }
      h4 { float: left; padding: 3px 4px 0 4px; background: #79038b; border: none; line-height: 120%; font-weight: normal; color: #fff; margin-left: -9px; font-size: 16px; }
      p { display: block; margin-bottom: 15px; text-align: justify; }
      a {
        background: #2cb349; color: #fff; padding: 3px 5px 1px 5px; line-height: 100%; float: right; margin-right: -9px; font-size: 17px;
        &:hover { background: #79038b; }
        &.list-links {
          float: left; background: none; color: #000; float: right; margin: 0 10px;
          &:hover { border-bottom: dotted 1px #000; }
        }
      }
    }

    form {
      display: block; border-bottom: solid 1px red;
      h4 { display: block; margin-bottom: 15px; font-size: 20px; font-weight: normal; }
      label { text-transform: uppercase; font-size: 16px; font-weight: 200; display: block; padding-left: 5px; margin: 1px 15px; }
      input[type="text"], [type="email"], [type="password"] {
      width: 500px; height: 24px; display: block; background: #fff; border: solid 1px #fff; padding: 2px 5px; font-size: 14px; margin: 0 0 10px 30px;
        &:focus { border: solid 1px #2cb349; }
      }
      textarea { width: 500px; height: 70px; display: block; background: #fff; border: solid 1px #fff; padding: 2px 5px; font-size: 14px; font-family: 'Helvetica', Arial, Verdana; margin: 0 0 20px 30px; resize: none; }
      input[type="submit"], [type="button"] { background: #79038b; color: #fff; font-weight: bold; border: none; padding: 2px 4px; cursor: pointer; font-size: 17px; float: right; margin: 5px 28px 5px 0; }
      div.terms { width: 500px; height: 200px; padding: 5px; display: block; background: #fff; margin: 0 0 20px 30px; overflow-x: auto; }
    }

    // End main
  }

  div.information {
    width: 190px; padding: 0 10px 15px 10px; float: left; background: #fff;
    ul {
      display: block;
      li {
        display: block; padding: 5px 0; border-bottom: dotted 1px #ccc; margin-bottom: 5px;
        h3 { float: left; border: none; font-weight: bold; text-align: left; }
        p { display: block; }
      }
    }
  }

  // End content
}

div#footer { 
  width: 990px; padding: 5px; background: #fff; margin: 20px auto; 
  a {
    color: #333; margin: 10px;
    &:hover { border-bottom: dotted 1px #000; }
  }
}
