%table
  %thead
    %tr
      %th{ :colspan => "4" } Dados Pessoais
  %body
    -if @user.personal_data.blank?
      %tr{ :class => cycle("odd", "even") }
        %td{:colspan => 4} dados pessoais não preenchidos
    -else
      %tr{ :class => cycle("odd", "even") }
        %td 
          %strong #{t("activerecord.attributes.personal_data.name")}: 
          %br
          #{@user.personal_data.name rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.gender")}: 
          %br
          #{@user.personal_data.gender rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.naturally")}: 
          %br
          #{@user.personal_data.naturally rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.nationality")}: 
          %br
          #{@user.personal_data.nationality rescue nil}
      %tr{ :class => cycle("odd", "even") }
        %td 
          %strong #{t("activerecord.attributes.personal_data.dob")}: 
          %br
          #{l @user.personal_data.dob rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.marital")}: 
          %br
          #{@user.personal_data.marital rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.rg")}: 
          %br
          #{@user.personal_data.rg rescue nil}
        %td &nbsp;
      %tr{ :class => cycle("odd", "even") }
        %td 
          %strong #{t("activerecord.attributes.personal_data.address")}: 
          %br
          #{@user.personal_data.address rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.district")}: 
          %br
          #{@user.personal_data.district rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.city")}: 
          %br
          -if @user.personal_data.city == "[Outros]"
            #{@user.personal_data.city rescue nil}
            #{@user.personal_data.other_city rescue nil}
          -else
            #{@user.personal_data.city rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.state")}: 
          %br
          #{@user.personal_data.state rescue nil}
      %tr{ :class => cycle("odd", "even") }
        %td 
          %strong #{t("activerecord.attributes.personal_data.zip_code")}: 
          %br
          #{@user.personal_data.zip_code rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.country")}: 
          %br
          #{@user.personal_data.country rescue nil}
        %td &nbsp;
        %td &nbsp;
      %tr{ :class => cycle("odd", "even") }
        %td 
          %strong #{t("activerecord.attributes.personal_data.home_phone")}: 
          %br
          #{@user.personal_data.home_phone rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.phone_message")}: 
          %br
          #{@user.personal_data.phone_message rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.business_phone")}: 
          %br
          #{@user.personal_data.business_phone rescue nil}
        %td 
          %strong #{t("activerecord.attributes.personal_data.cell_phone")}: 
          %br
          #{@user.personal_data.cell_phone rescue nil}
