%h2 Usuários cadastrados pelo trabalhe conosco - #{@search.count} cadastros

= simple_form_for [:admin, @search], :url => {:action => :index}, :html => {:method => :get, :class => "container"} do |f|
  = f.input :personal_data_name_contains, :required => false, :label => "Nome"
  = f.input :email_contains, :required => false, :label => "E-mail"
  = f.input :personal_data_city_equals, :required => false, :label => "Cidade", :as => :select, :collection => PersonalData::CITIES
  = f.input :education_id_equals, :as => :select, :label => "Escolaridade", :collection => Education.options_to_filter, :required => false
  = f.input :complementary_physically_handicapped_equals, :as => :select, :collection => [["Sim", true], ["Não", false]], :label => "Deficiente físico?", :required => false
  = f.button :submit, "Buscar"

-if @users.blank?
  %p Nenhum usuário cadastrado.
- else @users.blank?
  %table
    %thead
      %tr
        %th.first CPF
        %th Nome
        %th Idade
        %th Cidade
        %th Cadastro
        %th.last
    %body
      - @users.each do |user|
        %tr{ :class => cycle("odd", "even") }
          %td= user.cpf
          %td= user.personal_data.name rescue nil
          %td= user.personal_data.dob_humanize rescue nil
          %td= user.personal_data.city rescue nil
          %td= l user.created_at, :format => :short
          %td.actions
            =link_to "Ver", admin_user_path(user)

  = will_paginate @users
