%h2 Detalhes do cadastro #{@user.id} - #{@user.personal_data.name rescue nil}

.container
  %p
    Criado em #{l @user.created_at}
  %table
    %thead
      %tr
        %th{ :colspan => "3" } Dados de Acesso:
    %body
      %tr{ :class => cycle("odd", "even") }
        %td #{t("activerecord.attributes.user.cpf")}: #{@user.cpf}
        %td #{t("activerecord.attributes.user.email")}: #{@user.email}

  = render :partial => "personal_data"
  = render :partial => "education"
  = render :partial => "work_history"
  = render :partial => "complementary"
