%h2 Inscrições - #{@subscriptions.count} registro(s)

- unless @subscriptions.blank?
  %table
    %thead
      %tr
        %th.first #{t("activerecord.attributes.subscription.id")}
        %th #{t("activerecord.attributes.subscription.name")}
        %th #{t("activerecord.attributes.subscription.city")}
        %th #{t("activerecord.attributes.subscription.state")}
        %th #{t("activerecord.attributes.subscription.created_at")}
        %th.last
    %tbody
      - @subscriptions.each do |subscription|
        %tr{ :class => cycle("odd", "even") }
          %td= subscription.id
          %td= subscription.name
          %td= subscription.city
          %td= subscription.state
          %td= l subscription.created_at, :format => :short
          %td.actions
            = link_to "Exibir", admin_subscription_path(subscription), :title => "Exibir #{subscription.id}"
