%h2 Exibir Ficha de Inscrição

.container
  %p
    %strong Nº de inscrição:
    = @subscription.id
  %p
    %strong Nome:
    = @subscription.name
  %p
    %strong Passaporte:
    = @subscription.passport
  %p
    %strong Data de nascimento:
    = @subscription.birth_day
  %p
    %strong Naturalidade:
    = @subscription.birth_place
  %p
    %strong Endereço:
    = @subscription.address
  %p
    %strong Bairro:
    = @subscription.district
  %p
    %strong Cidade:
    = @subscription.city
  %p
    %strong Estado:
    = @subscription.state
  %p
    %strong Telefone de contato:
    = @subscription.contact_phone
  %p
    %strong Tipo sanguíneo:
    = @subscription.blood_type
  %p
    %strong Alergias:
    = @subscription.allergy
  %p
    %strong Em casos de emergência, contatar:
    %ul
      %li 
        %strong Nome:
        = @subscription.emergency_name
      %li 
        %strong Endereço:
        = @subscription.emergency_address
      %li 
        %strong Telefone de contato:
        = @subscription.contact_phone
  %p
    %strong Rio+20:
    = @subscription.rio20_humanize
  %p
    %strong Cúpula dos povos:
    = @subscription.cupula_dos_povos_humanize

  #{link_to "Voltar", admin_subscriptions_path}
