!!! 5
%html{ :lang => "pt-br" }
  %head

    / Meta Tags
    %meta{ :charset => "utf-8" }
    %meta{ :name => "author", :content => "Zigotto" }
    = csrf_meta_tag

    / Title Page
    %title Bicicletada Nacional Rumo ao Rio+20

    / Favicon
    %link{ :rel => "shortcut icon", :href => "/images/ico/ico_veibras.ico" }

    / Stylesheets
    = stylesheet_link_tag "admin"

    = yield(:head)

  %body{ "data-controller" => params[:controller], "data-action" => params[:action] }

    / Wrapper
    #wrapper

      / Header
      #header
        %ul#nav
          - if admin_signed_in?
            %li.home= link_to "Voltar para o site", root_path
            %li.dashboard= link_to "Painel", admin_root_path
            %li.dashboard= link_to "Orientações", admin_orientations_path
            - if current_admin.superuser == true
              %li.dashboard= link_to "Inscrições", admin_subscriptions_path
              %li.dashboard= link_to "Usuários", admin_admins_path
            %li.account
              = link_to current_admin.email, "#"
              %ul
                %li= link_to "Minha Conta", edit_admin_admin_path(current_admin)
                %li= link_to "Sair", destroy_admin_session_path, :method => :delete

      / Content
      #content
        - flash.each do |name, message|
          = content_tag :div, message, :class => "message #{name}"

        = yield

      / Footer
      #footer

    = javascript_include_tag "admin"
