!!!
%html{ :lang => "pt-br" }
  %head

    %meta{ :charset => "utf-8" }
    %meta{ :name => "author", :content => "Zigotto" }
    = csrf_meta_tag

    %title Bicicletada Nacional Rumo ao Rio+20

    %link{ :rel => "shortcut icon", :href => "/assets/ico/bicicletada.ico" }

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

  %body{ "data-controller" => params[:controller], "data-action" => params[:action] }

    #header

      =link_to "Bicicletada Nacional Rumo à Rio + 20", root_path(:locale => "pt-BR"), :class => "home-brand"

      =link_to "Twitter", "#", :class => "sm twitter"
      =link_to "Facebook", "#", :class => "sm facebook"
      %ul
        %li=link_to "O Projeto", about_path
        %li=link_to "Rotas", routes_path
        %li=link_to "Organizadores", organizers_path
        %li=link_to "Apoiadores", support_path
        %li=link_to "Inscrições", new_user_path
        %li=link_to "Contato", contact_path

  #content
    .banner
      %img{ :src => "/assets/banner-bicicleta.jpg" }

    .states
      %h2 Organização
      %h3 Norte
      %ul
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/amazonas.jpg" }
            %strong AM
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/para.jpg" }
            %strong PA
        %br.clearfix
      %h3 Nordeste
      %ul
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/sergipe.jpg" }
            %strong SE
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/rio-grande-do-norte.jpg" }
            %strong RN
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/paraiba.jpg" }
            %strong PB
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/bahia.jpg" }
            %strong BA
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/pernambuco.jpg" }
            %strong PE
        %br.clearfix

      %h3 Sudeste
      %ul
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/minas-gerais.jpg" }
            %strong MG
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/sao-paulo.jpg" }
            %strong SP
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/rio-de-janeiro.jpg" }
            %strong RJ
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/espirito-santo.jpg" }
            %strong ES
        %br.clearfix

      %h3 Centro Oeste
      %ul
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/distrito-federal.jpg" }
            %strong DF
        %br.clearfix

      %h3 Sul
      %ul
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/parana.jpg" }
            %strong PR
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/santa-catarina.jpg" }
            %strong SC
        %li
          =link_to "#" do
            %img.flag{ :src => "/assets/states/rio-grande-do-sul.jpg" }
            %strong RS
        %br.clearfix

    .main

      = yield

    .information
      %strong #{@subscriptions_counting} ciclistas inscritos
      %h2 Orientações
      %ul
        - @orientations.each do |orientation|  
          %li
            %h3= link_to orientation.title, orientations_path(:anchor => orientation.title.parameterize("_"))
            %h5= "por #{orientation.admin.name}"
            %br.clearfix
            %p= truncate(orientation.description, :length => 70)
            %br.clearfix

        %br.clearfix

    %br.clearfix

  #footer
    =link_to "Home", root_path(:locale => "pt-BR")
    |
    =link_to "O Projeto", about_path
    |
    =link_to "Rotas", routes_path
    |
    =link_to "Organizadores", organizers_path
    |
    =link_to "Apoiadores", support_path
    |
    =link_to "Inscrições", new_user_path
    |
    =link_to "Contato", contact_path
